SERVICE_URL="e.g. https://nginx"
ACCOUNT_ID="" # cf acc id
NAMESPACE_ID="" # cf namespace id (where your secret is)
API_TOKEN="" # your cf api token
SERVER_CERT="" # your server cert
HTTP_HOST_HEADER="myservice.local"
